
@import "pages/truck_detail";
@import "pages/noti";
@import "pages/truck_creation";
@import "pages/search";
@import "pages/home";
// component
@import "component/card_truck";
@import "component/left_side";
@import "component/list_truck";
@import "component/header";

*{
    font-family: 'Roboto', sans-serif;
}
input[type="text" i] {
    padding: 0;
    border-width: 0;
}
select{
    border-width: 0;
    box-sizing: unset;

}
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    /* // margin-left: 5px; */
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

.numOfNew{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    margin-left: 20px;
}
@media screen and (max-width: 739px) {
    * {
        h2 {
        font-size: 1.3rem;
        }
        .container_center .regions .select_region {
            padding: unset;
        }
    }
}