@media screen and (max-width: 739px) {
    .main_card {
        width: 70%;
    }
    
    .menu_icon {
        display: none;
    }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
    .main_card {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) {
    .main_card {
        width: 30%;
    }
}

@media screen and (min-width: 1368px) and (max-width: 1649px) {
    .main_card {
        width: 23%;
    }
}

@media screen and (min-width: 1650px) {
    .main_card {
        width: 18%;
    }
}


.main_card {
    margin: calc(4% / 6);
    // padding: 0.5%;
    // width: 18%;
    display: block;
    // height: 20%;
    float: left;
    border-radius: 10px;
    border: 1px solid #e4e4e7;
    animation-name: animation_card_course;
    animation-duration: 0.5s;

    .mc_header {
        // flex: 1;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding:0 10px;

        .ch-text {
            text-align: left;
            .bsx {
                cursor: pointer;
            }
        }

        .ch-icon {
            display: flex;
            margin-right: 5px;
            align-items: center;

            .icon {
                margin-right: 3px;
                cursor: pointer;
                color: rgb(17, 131, 36);
            }
        }
    }
    .mc_content {
        // flex: 4;
        // display: flex;
        // flex-direction: column;
        // padding:0 10px;

        a {
            text-decoration: none;
        }
        .card-row {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            // .card-content {
            //     width: 100%;
            //     display: flex;
            //     flex-direction: row;
            //     justify-content: start;
            //     align-items: center;

            .lb-name {
                // margin-right: 3%;
                color: #000;
                text-align: left;
                font-weight: 700;
                margin: 8px;
                // width: 30%;
            }

            .ls-name {
                display: block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 1;
                flex: 1;
                text-align: left;
                margin: auto 0;
                color: #222020;
                margin: 8px;

            }
            // }
        }
        .view-area {
            .btn-view {
                text-decoration: none;
                color: rgb(11, 89, 235);
                font-weight: 500;
            }
        }
    }
}
