.header {
    flex: 1;
    max-height: 60px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;

    .left_menu {
        flex: 1;
        display: flex;
        padding-left: 16px;
        cursor: pointer;
        align-items: center;

        .menu_icon {
            display: none;
        }
    }

    .search {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        .search-btn {
            font-size: 20px;
            color: rgb(0, 0, 0);
            /* border: 1px solid rgb(87, 84, 84); */
            margin-right: 5px;
            cursor: pointer;
        }

        .input-txt {
            font-size: 16px;
            opacity: 0.8;
            border: none;
            background-color: rgb(255, 255, 255);
            border-bottom: 1px solid #ccc;
            outline: none;
        }
    }
    .link_title {
        text-decoration: none;
        color: #000000;
    }
    .nav_input {
        display: none;
    }
    .nav_input:checked ~ .nav_overlay {
        display: block;
    }
    .nav_input:checked ~ .nav_mobile {
        transform: translateX(0%);
    }
    .nav_overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn linear 0.2s;
    }
    .nav_mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        max-width: 80%;
        background-color: #e9e9e9;
        transform: translateX(-100%);
        transition: transform linear 0.2s;
        .nav_mobile_close {
            position: absolute;
            top: 0.3rem;
            right: 1rem;
            font-size: 1.6rem;
            cursor: pointer;
        }
        .nav_list {
            margin-top: 30px;

            .ls-card {
                display: flex;
                align-items: center;
                padding: 8px;
                font-size: 1rem;
                text-decoration: none;
                color: #333;
                margin-top: 8px;
            }
            .ls-card:hover {
                background-color: #ffffff;
            }
            .ls-title {
                margin-left: 8px;
            }
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
@media screen and (max-width: 1023px) {
    .header {
        .left_menu {
            flex: 2;
            .menu_icon {
                display: block;
                height: 30px;
                width: 30px;
                margin: 16px;
            }
        }
        .search {
            flex: 1;
        }
    }
}
@media screen and (max-width: 739px) {
    .header {
        .search {
                display: none;
        }
    }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
    .main_card {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1367px) {
    .main_card {
        width: 30%;
    }
}

@media screen and (min-width: 1368px) and (max-width: 1649px) {
    .main_card {
        width: 23%;
    }
}

@media screen and (min-width: 1650px) {
    .main_card {
        width: 18%;
    }
}
