/* ------ Left side------- */
@media screen and (max-width: 1023px) {
    .left_side {
        display: none;
    }
}
.left_side {
    background-color: #E9E9E9;
    flex: 1;
    padding: 16px;
    font-family: Roboto;


    .ls-card {
        height: 50px;
        width: 90%;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        padding-left: 15px;
        margin: 10px 0;
    }
    .ls-card:hover {
        background: #FFFFFF;
    }

    .btn_add_truct {
        width: 90%;
        height: 55px;
        font-size: 30px;
        font-weight: bolder;
        border: 1px solid rgb(10, 163, 61);
        border-radius: 10px;
        background-color: #fff;
        color: rgb(10, 163, 61);
        transition: all 0.5 ease;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
}

.left_side  .ls-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
.left_side .ls-title {
    padding-left: 10px;
}
.left_side .btn_add_truct:hover {
    color: #FFFFFF;
    background-color: rgb(10, 163, 61);
}
.active {
    background: #FFFFFF;
    padding-left: 20px;
    opacity: 1;
    color: black;
}

.unactive{
    opacity: 0.6;
}