
.container_center {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    .regions {
        flex: 1;
        margin: 0 16px;
        display: flex;
        justify-content: space-between;
        justify-items: center;

        .select_region {
            padding: 0 32px;
            margin: 20px 0;
            border: 1px solid #ccc;
            border-radius: 10px;
            outline: none;
        }
    }
    .list_truck {
        flex: 8;
        display: flex;
        flex-direction: column;
        text-align: center;
        .list_card {
            display: block;
            min-height: 30%;
            margin-bottom: 16px;
        }
        img {
            max-height: 250px;
            max-width: 150px;
        }
        h3 {
            font-style: italic;
            font-weight: 500;
        }
        .no_truck {
            margin-top: 15%;
        }
    }
}
@media screen and (max-width: 739px) {
    .container_center {
        .list_truck {
            .list_card {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
}