.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  
  .App .wrapper {
    flex: 8;
    display: flex;
    background-color: aqua;
  }
  .wrapper .main {
    flex: 5;
    background-color: #FFFFFF;
  }
}