.nt_cnt{
    padding: 5vh 5vw;

    .notibody_cnt{
        padding: 10px;
        max-height: calc(100vh - 230px);
        overflow-y: auto;
        .noti_card{
            // border: 1px solid gray;
            border-radius: 10px;
            margin: 15px 0;
            display: flex;
            cursor: pointer;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
            &.bg{
                background-color: beige;
            }

            &:hover{
                
            }
            .ntcard_left{
                width: 10%;
                padding: 15px 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                color: #ccc;
            }

            .ntcard_right{
                padding: 15px 10px;
                width: 80%;
                .title_div{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h5{
                        margin: 0;
                        min-width: fit-content;
                        color: #ccc;
                    }
                }
                h3{
                    margin: 0;
                    width: 100%;
                    // border-bottom: 1px solid gray ;
                }
                p{
                    margin: 5px 0;
                    color: gray;
                    font-style: italic;
                }
                h4{
                    font-size: 1rem;
                    font-weight: 500;
                    margin: 0;
                }
            }
        }
    }
}
.noti_content {
    text-align: center;
}
.popup-background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
    .popup-noti-wrapper{
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 10px;
        height: 400px;
        width: 500px;
        /* margin-top: calc((100vh - 170px)/2);
        margin-left: calc((100vw - 300px)/2); */
        font-size: 16px;
        overflow: hidden;
        animation-name: appear;
        animation-duration: 0.5s;
        padding: 15px;
        
        .popup-noti-title{
            // flex: 1;
            text-align: center;
            // height: 50px;
            font-weight: 700;
            /* padding: 15px 5px; */
            padding-top: 10px;
            color: black;
            margin: 10px 0;
        }

        .popup-noti-content{
            /* flex: 1; */
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            // height: 70px;
            padding: 5px 15px;
            display: flex;
            color: black;
            margin: 10px 0;
        }
        .popup-noti-footer{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-evenly;
        }

        img{
            width: 80%;
            margin-bottom: 15px;
        }

        .popup-btn-confirm{
            height: 35px;
            width: 100px;
            background-color: #EB5500;
            color: #FFFFFF;
            border-radius: 10px;
            border: 1px solid #EB5500;
            cursor: pointer;
        }
    }
}

@keyframes appear{
    from { transform: scale(0.8);}
    to{ transform: scale(1);}
}


.cr-body-appear {
    opacity: 0;
    transform: scaleX(0.5) translateY(-100px);
    transition: all 400ms;
}
.cr-body-appear.cr-body-appear-active {
    opacity: 1;
    transform: scaleX(1) translateY(0);
    transition: all 400ms;
}