
.container_center{
    .inform_no_room {
        margin: 100px auto;
        text-align: center;
    }
    .CardTrucK_state {
        margin-left: 16px;
        h3 {
            text-align: left;
            margin: 15px 25px;
            font-weight: 600;
        }
    }
    .CardTrucK_list{
        text-align: center;
    }
}
