.tch_main {
    @mixin dsFlex {
        display: flex;
        flex-direction: column;
    }
    .create-room-body {
        flex: 3;
        /* background-color: rgb(223, 190, 190); */
        background-color: #fff;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 10px;
        @include dsFlex;
        font-weight: 500;

        .crtitle {
            flex: 0.5;
            height: 150px;
            text-align: left;
            margin: 15px 25px;
            font-weight: 600;
        }

        .content {
            /* flex: 9; */
            @include dsFlex;
            padding-left: 40px;
            /*-----------------content side--------------------*/

            .left-side {
                flex: 1;
                @include dsFlex;
                padding: 0;
            }

            .content-side {
                flex: 3;
                @include dsFlex;
                .subject_name {
                    /* flex: 1; */
                    display: block;
                    width: 100%;
                }
            }
        } /* ---------------Button create and cancel create room--------------------*/

        .btn-group_cr {
            width: 100%;
            margin: 16px 0;
            margin-left: -1%;

            @mixin btn {
                width: 10%;
                min-width: 100px;
                height: 35px;
                padding: 5px 20px;
                font-size: 14px;
                font-weight: 600;
                border-radius: 10px;
                cursor: pointer;
                margin-bottom: 20px;
                outline: none;
            }
            .btn_cr {
                @include btn;
                color: #fff;
                background-color: #eb5500;
                border: none;
                margin-left: 5%;
            }
            .btn_cancel {
                @include btn;
                color: #a85000;
                background-color: #ffffff;
                border: 1px solid #fc7e00;
                margin-left: 30%;
            }
        }
    }

    /*---new---*/
    .content-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        /* background-color: rebeccapurple; */

        .ls-card {
            flex: 1;
            height: 100%;
            display: flex;
            margin-left: 3%;
            margin-bottom: 15px;
            text-align: center;
        }

        .ls-icon {
            width: 28px;
            height: 28px;
            color: #000;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5%;
        }

        .ls-title {
            min-width: 70px;
            font-size: 15px;
            text-align: left;
            margin: 5px 0px 5px 20px;
        }

        .subject_name {
            flex: 3;
            padding-left: 10px;
            flex-direction: row;
            display: block;
        }

        .input_subject {
            width: 300px;
            height: 40px;
            min-width: 170px;
            font-size: 15px;
            outline: none;
            border: 2px solid #e4e4e7;
            border-radius: 10px;
            float: left;
            display: block;
            padding: 0 5px;
            // border: none;
        }
        .bsx {
            // max-height: 40%;
            // width: 33%;
            // border: 1px;
        }
    }
}
