
.td_cnt{
    .td_wp{
        padding: 5vh 5vw;
    
        
        .td_truck_infor{
            width: calc(100% - 40px);
            // width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // margin-bottom: 20px;
            // border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
            margin-bottom: 30px;
            .tti_left, .tti_right{
                width: 47%;
            }
            .row{
                display: flex;
                align-items: center;
                p{
                    font-size: 1.2rem;
                    margin-left: 15px;
                    font-weight: 400;
                    font-style: italic;
                }
            }
            // div{
            //     width: 47%;
            // }
            .icon{
                color: orange;
                margin-right: 10px;
                font-size: 2rem;
            }
            h3{
                font-weight: 500;
            }
        }

        .td_route{
            display: flex;
            justify-content: space-between;
            width: calc(100% - 40px);
            margin-bottom: 30px;
            // border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
            h3{
                font-weight: 500;
                font-size: 1.1rem;
                margin: 10px 0 10px 0;
                font-style: italic;
                i{
                    color: orange;
                    font-size: 1.3rem;
                    margin-right: 10px;
                }
            }
            .table_cnt{
                width: 47%;
                display: flex;
                flex-direction: column;
                margin-right: 2%;
                /* align-items: center; */

                .tb_title_row{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    input{
                        // width: 0px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        outline: none;
                        font-size: 1rem;
                       
                    }
                }

                .tb_wp{
                    width: 100%;
                    max-height: 40vh;
                    overflow: auto;
                    .tb_route{
                        width: 100%;
                        border-collapse: collapse;
                        // box-shadow: 0px 3px 5px rgb(133, 133, 212);
                        .tb_row{
                            height: 45px;
                            border-bottom: 1px solid #ccc;
                            border-top: 1px solid #ccc;
                            margin-bottom: 10px;
                            &.hd{
                                font-weight: 500;
                            }
                            &:nth-child(odd) {
                                background: #ddd;
                              }
                            &:hover{
                                background-color: thistle;
                            }
                            td{
                                padding-left: 10px;
                            }
                            
                        }
                    }
                }
                
            }

            .stream_cnt{
                /* background-color: bisque; */
                width: 47%;
                display: flex;
                flex-direction: column;
                
                img{
                    width: 100%;
                    height: 40vh;
                    object-fit: cover;
                    border-radius: 5px;
                    
                }
                .str_tt{
                    display: flex;
                    align-items: center;
                    p{
                        margin: 0;
                    }
                }
            }
            
        }

        .map_cnt{
            width: calc(100% - 40px);
            // border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
            h3{
                font-weight: 500;
                margin: 10px 0 10px 0;
                font-style: italic;
                i{
                    color: orange;
                    font-size: 1.3rem;
                    margin-right: 10px;
                }
            }
        }

    }
}











